body {
    background: url(./assets/starbg.avif) no-repeat;
    background-size: cover;
    color: blue;
    font-size: 50px;
    text-align: center;
}

div {
    transform: rotateX(60deg);
    width: auto;
    height: auto;
    position: absolute;
    top: 100vh;
    animation: linear 10s infinite autoscroll;
    overflow: hidden;
}
@keyframes autoscroll {
    from {top: 6%;}
    to {top:-100%;}
}